body {
    margin: 0;
    background-color: whitesmoke;
}

header {
    
    font-family: 'Bungee Shade', cursive;
    font-size: 60px;
    padding: 50px;
    text-align: center;
    color: white;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

footer{
    position: fixed;
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
    padding: 50px;
    text-align: center;
    color: white;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    bottom: 0;
    width: 100%;
}

.container{
    /* padding: 10%; */
    padding: 5%;
    display: flex;
}

.meme {
    position: relative;
    width: 90%;
    margin-bottom: 1em;
    text-align: center;
}

.meme > .top{
    top: 0;
}
.meme > .bottom{
    bottom:0;
}

.meme > img{
    position: relative;
    width: 50%;
}

.meme > h2{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 10%;
    font-family: monospace;
    font-size: xx-large;
    color: white;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    left: 50%
}

form{
    
    margin: auto;
    display: flex
}

.formDisplay{
    
    text-align: center;
    margin: auto 10%;
}

textarea{
    
    margin: 20px
}
